body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b64d4d;
}

#musicPlayer {
    text-align: center;
    background-image: linear-gradient(rgb(196, 131, 131),rgb(133, 209, 133),rgb(125, 125, 189));
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#controls {
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"] {
    margin-top: 10px;
}
